.user-restaurants-container {
    background: url("../../Images/view-restaurants.jpeg");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Loading CSS */

.user-restaurants-container-loading {
    background: url("../../Images/view-restaurants.jpeg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.user-restaurants-loading-gif {
    margin: 50px 0 30px 0; 
}

.user-restaurants-loading-text {
    font-size: 25px;
}

/* Content CSS */

.user-restaurants-content-container {
    display: flex;
    justify-content: center;
}

.user-restaurants-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.user-restaurant-container {
    border: 2px solid black;
    margin: 20px;
    width: 280px;
    height: 230px;
    border-radius: 5%;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0.9) 0%, rgb(206, 190, 187, 0.9) 100%) !important;
    text-align: center;
}

.user-restaurant-name {
    padding: 15px 0 15px 0;
    border-bottom: 2px solid black;
}

.user-restaurant-location {
    margin-top: 15px;
}

.user-restaurant-visited {
    margin-top: 10px;
}